::ng-deep .mat-dialog-container {
    background: #96d5eb;
    width: 320px;
    padding: 0;
    height: 620px;
    position: fixed;
    right: 8%;
    top: 2%;
  }

 p  {
  font-family: 'Caveat', cursive;
  font-size: 20px;
  line-height: 20px;
  
 }
