<section>
  <div
    class="flex flex-col items-center bg-[url('\src\assets\letter.png')] p-1"
  >
    <p *ngIf="!translate" class="text-black p-4">
      프랑스어로 "Je t'aime", 네덜란드어로 "Ik houd van jou", 카탈로니아어로
      "T'estimo", 단 하나의 의미, 한동안 느끼지 못했던 것, 내가 느낀 것 다시는
      느낄 수 없을 거라 생각했는데, 당신이 나타나기 전까지는 아무것도 원하지
      않고 내 삶을 완전히 바꾸기 위해 찾아온 사람처럼, 진부하게 들릴지 모르지만
      당신은 끊임없이 나를 더 나은 사람으로 만들고, 당신은 나를 다시 데려오게
      만들었습니다. 나의 믿음, 나의 꿈과 목표에 대한 믿음, 체육관에서 다리
      훈련을 즐기고 있습니다 하하하, 당신이 아니었다면 나는 지금
      카르네케이조에서 미래에 대한 전망 없이 열심히 일하고 있을 것입니다. 그러나
      대신 나는 여기에서 계획을 세우고 있습니다. 당신과 함께하는 미래.. 여기에
      수백만 개의 형용사를 말할 수 있지만 "사막의 꽃"보다 당신을 더 잘 정의할 수
      있는 것은 없습니다. 그것은 당신에게 완벽한 정의입니다. 당신은 극히
      드물습니다. 내 자기, 세상에서 가장 아름답고, 가장 똑똑하고, 똑똑하고,
      섹시한 소녀 세상은 보살핌을 받고 모든 악으로부터 보호받을 가치가 있으며
      하나님께서는 나를 보호하고 돌볼 수 있는 사람이 되도록 허락하셨습니다.
      이것은 단순한 요청이 아닙니다. 올해 내내 여러 사람이 나에게 데이트 중인지
      물었고 내 대답은 항상 같았습니다. 나는 완전히 사랑에 빠졌고 가장 좋은 점은
      계속되는 것 외에도 매일 증가하고 있습니다. 울고, 슬프고, 불안하고,
      괴로워하고, 분노하는 등 당신의 새로운 모습을 볼 때마다 당신을 더 잘 알게
      될 때마다 나는 점점 더 사랑에 빠지게 됩니다. 내가 말했듯이 이것은 단순한
      요청이 아니라 오히려 점점 더 나은 미래의 시작입니다. 우리는 관계의 새로운
      범주를 발명했습니다. 서로를 알아가는 1년 후 우리는 데이트를 시작했습니다
      ㅋㅋㅋ 하지만 어쨌든 내 아기, projota가 말했듯이 , "우리가 만든 것은
      초자연적입니다. 오늘 설명되지 않은 것을 우리는 사랑이라고 부릅니다."
      네덜란드어, 프랑스어, 카탈로니아어 모두 의미는 동일합니다. 사랑해요 내
      아기!!! ❤❤❤
    </p>
    <p *ngIf="translate" class="text-black p-4 text-xs font-normal">
      "Je t'aime" em francês, "Ik houd van jou" em holandês, "T'estimo" em
      catalão, tantas traduções para apenas um significado, para algo ao qual eu
      ja nao sentia a algum tempo, para algo ao qual eu achava que nunca mais
      iria sentir, até voce apareceu, como quem nao quer nada e entrou na minha
      vida para mudar completamente ela, pode parecer clichê mas voce está
      constantemente me fazendo uma pessoa melhor, voce me fez trazer de volta a
      minha fé, a acreditar nos meus sonhos e nos meus objetivos, a gostar de
      treinar perna na academia kkkkk, se não fosse por voce eu estaria agora na
      karnekeijo me matando de trabalhar sem perspectiva de futuro, mas ao inves
      disso eu estou aqui planejando um futuro com você... Eu poderia falar
      milhoes de adjetivos aqui, porém nada vai lhe definir melhor do que a
      "flor no deserto", é a definição perfeita para voce, voce é extremamente
      rara meu bebê, a menina mais linda, mais inteligente, esperta e gostosa de
      todo o mundo que merece ser cuidada e protegida de todo o mal e que Deus
      me permitiu ser esse alguém que poderá proteger e cuidar de você. Esse não
      é um pedido qualquer, ao longo desse ano varias e varias pessoas me
      perguntaram se eu namorava e a minha resposta era sempre a mesma, que eu
      estava completamente apaixonado e o melhor, esse sentimento além de
      continuar, vai aumentando a cada dia, a cada novo estado que eu vejo de
      você, seja chorona, triste, ansiosa, agoniada, brava, cada vez que eu lhe
      conheço melhor eu vou me apaixonando cada vez mais. Como eu falei esse nao
      é um simples pedido mas sim um começo de um futuro cada vez melhor, nós
      inventamos uma nova categoria de relacionamento, um ano se conhecendo para
      entao comerçamos a namorar kkkk mas enfim meu bebê, já dizia projota, "é
      sobrenatural o que a gente criou, o que nao se explicava hoje chamamos de
      amor", seja em holandês, francês ou catalão o significado continua o
      mesmo, te amo meu bebê!!! ❤❤❤
    </p>
    <div>
      <button
        *ngIf="!translate"
        class="text-xs text-white bg-pink-400 p-2 mt-1 mb-2 rounded"
        (click)="openDialog()"
      >
        Traduzir
      </button>
    </div>
  </div>
</section>
