::ng-deep .mat-dialog-container {
    background: #bc9dc9;
    width: 320px;
    padding: 0;
    height: fit-content;
    position: fixed;
    right: 8%;
    top: 5%;
  }

 p  {
  font-family: 'Caveat', cursive;
  font-size: 20px;
  line-height: 20px;
  
 }
